[project]
	description = Access inherited by all other projects.
[receive]
	requireContributorAgreement = false
	requireSignedOffBy = false
	requireChangeId = true
	enableSignedPush = false
[submit]
	mergeContent = true
[access "refs/*"]
	read = group Administrators
	read = group Registered Users
[access "refs/for/*"]
	addPatchSet = group Registered Users
	addPatchSet = group Registered Users
[access "refs/for/refs/*"]
	push = group Registered Users
	push = group Registered Users
	pushMerge = group Registered Users
	pushMerge = group Registered Users
[access "refs/heads/*"]
	create = group Administrators
	create = group Project Owners
	create = group Registered Users
	editTopicName = +force group Administrators
	editTopicName = +force group Project Owners
	editTopicName = group Registered Users
	forgeCommitter = group Administrators
	forgeCommitter = group Project Owners
	forgeCommitter = group Registered Users
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group Project Owners
	label-Code-Review = -2..-2 group Registered Users
	push = group Administrators
	push = group Project Owners
	push = group Registered Users
	read = group Registered Users
	revert = group Registered Users
	submit = group Administrators
	submit = group Project Owners
	submit = group Registered Users
[access "refs/meta/config"]
	create = group Administrators
	create = group Project Owners
	create = group Registered Users
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -2..+2 group Project Owners
	label-Code-Review = -2..+2 group Registered Users
	push = group Administrators
	push = group Project Owners
	push = group Registered Users
	read = group Administrators
	read = group Project Owners
	read = group Registered Users
	submit = group Administrators
	submit = group Project Owners
	submit = group Registered Users
[access "refs/meta/version"]
	read = group Registered Users
[access "refs/tags/*"]
	create = group Administrators
	create = group Project Owners
	create = group Registered Users
	createSignedTag = group Administrators
	createSignedTag = group Project Owners
	createSignedTag = group Registered Users
	createTag = group Administrators
	createTag = group Project Owners
	createTag = group Registered Users
[label "Code-Review"]
	function = MaxWithBlock
	defaultValue = 0
	copyMinScore = true
	copyAllScoresOnTrivialRebase = true
	value = -2 This shall not be merged
	value = -1 I would prefer this is not merged as is
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
[capability]
	administrateServer = group Administrators
	administrateServer = group Registered Users
	priority = batch group Registered Users
	priority = batch group Service Users
	streamEvents = group Registered Users
	streamEvents = group Service Users